@media screen and (max-width: 340px) {
  .music_list {
    .music_ul_list {
      height: 450px;
    }
  }
}
@media screen and (max-width: 1000px) {
  main {
    position: relative;
  }
  .music_list {
    transform: translateX(-1000px);
    transition: all 0.5s ease;
    z-index: 1056;
    position: absolute;
    width: 100%;
    .music_ul_list {
      width: 100%;
    }
  }
  .music_card {
    width: 100%;
    .card {
      .music_options {
        .music_list_icon_show {
          display: unset;
        }
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 1000px){
    .music_list {
        .music_ul_list {
          width: 80%;
        }
      }
    .close_backdrop {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px){
  .music_list {
      .music_ul_list {
        width: 60%;
      }
    }
  .close_backdrop {
      font-size: 3em;
  }
}


@media screen and (min-width: 1000px) and (max-width: 1200px){
  .music_list {
      .music_ul_list {
        margin: 0 80px 0 0;
      }
    }
}