

@mixin displayes($display, $align, $justify, $direction) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

body,
main {
  height: 100vh;
}
main {
  animation: moving 5s ease alternate infinite;
  background: linear-gradient(
    to right bottom,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
  background-size: 400% 400%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@keyframes moving {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.music_list {
  @include displayes(flex, center, center, column);
  height: 100%;
  width: 50%;
  .music_ul_list {
    @include displayes(flex, center, space-between, column);
    width: 500px;
    height: 550px;
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 10px 0 30px 0;
    margin: 0;
    .music_item_list {
      cursor: pointer;
      list-style-type: none;
      padding: 10px;
      width: 100%;
      @include displayes(flex, center, space-around, row);
      img {
        width: 50px;
        border-radius: 50%;
      }
      .music_list_name {
        font-size: 0.8em;
        color: #777;
      }
      .music_list_time {
        font-size: 0.8em;
        color: #777;
      }
    }
  }
  .music_ul_list li:first-child {
    width: 100%;
    padding: 0;
    box-shadow: none;
    background-color: #fff;
    @include displayes(flex, center, space-around, row);
    .music_img_list {
      width: 30px;
    }
  }
}






.music_card {
  height: 100%;
  width: 50%;
  @include displayes(flex, center, center, row);
}

.card {
  width: 310px;
  height: 550px;
  border: none;
  background-color: #fff;
  border-radius: 0.25rem;
  @include displayes(flex, center, flex-start, column);
  .music_img {
    width: 100%;
    animation: equalizer 0.7s ease infinite alternate;
    animation-play-state: paused;
    border-radius: 0.25rem;
  }
  .music_name {
    text-align: center;
    font-size: 1.6em;
    margin-top: 1rem !important;
    color: #001d3d;
  }
  .music_btns {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    i {
      font-size: 1.4em;
      cursor: pointer;
      border-radius: 50%;
      background-color: #ff7d00;
      margin: 0 4px 0 4px;
      padding: 0 5px;
      color: #fff;
      box-shadow: 3px 3px 4px #aaa;
      transition: all 0.8s ease-out;
      &:hover {
        background-color: #001d3d;
        box-shadow: none;
      }
    }
  }
  .music_range_wrapper {
    width: 80%;
    @include displayes(flex, center, space-evenly, column);
    .music_time {
      appearance: none;
      background-color: #ff7d00;
      width: 100%;
      height: 3px;
      margin-top: 30px;
      border-radius: 10px;
      cursor: pointer;
      &::-webkit-slider-thumb {
        appearance: none;
        background-color: #f77f00;
        width: 15px;
        height: 15px;
        border-radius: 25%;
      }
    }
    .timer_show {
      @include displayes(flex,center,space-between,row);
      width: 100%;
      .music_time_number {
        font-size: 0.8em;
        color: #001d3d;
        margin-bottom: 0 !important;
        margin-top: 10px;
      }
      .music_time_all {
        font-size: 0.8em;
        color: #001d3d;
        margin-bottom: 0 !important;
        margin-top: 10px;
      }
    }
  }
  .music_options {
   width: 100%;
   @include displayes(flex,center,space-evenly,row);
   i {
     font-size: 23px;
     color: #001d3d;
     cursor: pointer;
     transition: all .5s ease;
   }
   .active_repeat_icon {
     color: #f77f00;
   }
   .music_list_icon_show {
     display: none;
   }
  }
}

@keyframes equalizer {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 6px 6px orange;
  }
}
@import 'responsive';