* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: my-font;
}
@font-face {
    font-family: my-font ;
    src: url('../font/FrancoisOne-Regular.ttf');
}